.header{
    height: 30%;

}
/* background layout of page */
.background{
            background-color: #f5f5f5;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            }
/* javacript api logo style */
.logo{
        font-size: 120px;
        color:  lightsalmon;
    }

.text{
        margin-top: 140px;
        box-shadow: 5px 5px 3px darkslategray;
    }

input{
        height: 50px;
        size: 30px;
    }
/* add to do list */
.list-of-cards {
        width:20vw;
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color: rosybrown;
        transition: 0.2s;
        border: darkgrey solid;
        border-width: thin;

    }
/* add close button */
.close {
        position: absolute;
        right: 2;
        top: 0;
        padding: 12px 16px 12px 16px;
        }
/* add close button property */
.close:hover {
        background-color: #f44336;
        color: white;
        }

ul{
        max-height:20vh;
        overflow-y:auto;
        
    }

.card-list-header{
    
        margin-right: 10px;
    }

.card-count{
        display:flex;
        justify-content: flex-start;
        color: rgb(134, 131, 131);
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 40px;
    }

.footer{
        color: rgb(91, 102, 117);
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;

}
